Repository navikt/bidrag-felles, pull requests merged in 2024-12, with the labels that each got.

#369 Fikse feil i resttemplate objectmapper
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestOperationsAzure.kt
Labels: bidrag-commons, bugfix

#371 Fikse resultatkode SluttberegningBarnebidrag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: bidrag-transport, bugfix

#374 Feature/endre netto tilsynsutgift
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#376 Justert litt på barnetillegg-objekter
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Barnetillegg.kt
Labels: feature, bidrag-transport

#377 Fjernet objekt som ikke er i bruk og rettet skrivefeil
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/barnetillegg/Barnetilleggstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
Labels: bidrag-domene, bidrag-transport, bugfix

#378 Feature/endre netto tilsynsutgift
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#380 Grunnlagsobjekter for tilleggsstønad
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektInnhentet.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#381 Endret INNHENTET_INNTEKT_BARNETILSYN til INNHENTET_BARNETILSYN
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: feature, bidrag-domene

#382 Feature/json alias barnetillegg
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektstype.kt
Labels: feature, bidrag-domene

#384 Oppdater GEBYR_FRITTATT til GEBYR_FRITATT
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
Labels: chore, bidrag-domene

#385 Notat barnetillegg måndesbeløp
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#387 Utvidet objekt DelberegningBarnetilleggSkattesats
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Barnetillegg.kt
Labels: feature, bidrag-transport

#389 Endringer kodeverkresponse
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestOperationsAzure.kt
Labels: bidrag-commons, bugfix

#390 Bisys søknadstype
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/behandling/BisysSøknadstype.kt
Labels: feature, bidrag-domene

#391 Bisys søknadstype fra kode funksjon
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/behandling/BisysSøknadstype.kt
Labels: feature, bidrag-domene

#392 Feature/forskudd hendelse
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/statistikk/ForskuddHendelse.kt
Labels: feature, bidrag-transport

#394 Endre KodeverkProvider til å peke mot ny url
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
Labels: feature, bidrag-commons

#395 Innhentet grunnlag andre barn til BM
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: feature, bidrag-domene

#396 Innhentet grunnlag andre barn til BM
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Husstandsmedlem.kt
Labels: feature, bidrag-transport

#397 Legge til opplysninger andre barn tiL BM
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#398 Legg til antallBarnBMBeregnet felt i DelberegningNettoTilsynsutgift
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport
