Repository navikt/bidrag-felles, pull requests merged in 2024-04, with the labels that each got.

#97 Oppretter nytt søkeobjekt for samhandlere
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerSøk.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SøkSamhandlerQuery.kt
Labels: feature, bidrag-transport

#98 Legger til felter for søk på ident og offentligId for samhandler
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerSøk.kt
Labels: feature, bidrag-transport

#99 Lagt til etterbetalingsperiode i Ainntektspost i TransformerInntekter…
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/request/TransformerInntekterRequest.kt
Labels: feature, bidrag-transport

#100 Feature/inntekt etterbetalingsperiode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/request/TransformerInntekterRequest.kt
Labels: feature, bidrag-transport

#103 Endring av visningsnavn inntekt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: feature, bidrag-domene

#104 Legger til kontaktopplysninger og områdekode i samhandlerdto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/Områdekode.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport

#105 Gjør sammhandlerid nullable
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport

#102 VirkningstidspunktGrunnlag legg til avslag og visningsnavn kodeverk
  bidrag-commons-test/src/main/kotlin/no/nav/bidrag/commons/mock/Stubs.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
  bidrag-commons/src/main/resources/kodeverk/visningsnavn/inntektsposter.yaml
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/service/KodeverkProviderKtTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
Labels: feature, bidrag-transport, bidrag-commons, bidrag-commons-test

#106 Bugfix/delberegning referanse
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
Labels: bidrag-transport, bugfix

#108 Fiks feil med delberegning grunnlagsreferanse
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
Labels: bidrag-transport, bugfix

#109 Jackson converter supported media types
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestOperationsAzure.kt
Labels: bidrag-commons, bugfix

#112 Ny inntekstrapporteringer 12mnd og 3mnd opprinnelig vedtakstidspunkt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/request/TransformerInntekterRequest.kt
Labels: bidrag-domene, bidrag-transport

#113 Justeringer på visningsnavn inntekt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: bidrag-domene

#114 Legg til enum Kilde
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/diverse/Kilde.kt
Labels: bidrag-domene

#116 Endre visningsnavn inntekt bruker
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: chore, bidrag-domene

#122 Deprecate tssId for samhandlerId
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport

#124 Setter default value for deprekert tssId
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport

#125 Fjerner tssId
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport

#123 Oppdater visningsnavn for bruker
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sivilstand.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: bidrag-domene

#126 Justeringer på api-et til bidrag-inntekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/request/TransformerInntekterRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/response/TransformerInntekterResponse.kt
Labels: feature, bidrag-transport

#127 Språk til samhandleren
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport
