Repository navikt/bidrag-felles, pull requests merged in 2024-01, with the labels that each got.

#4 First major release test
  .github/workflows/not_used/build-deploy-bidrag-domene.yml
  .github/workflows/not_used/build-deploy-bidrag-transport.yml
  .github/workflows/not_used/build_and_release_package.yml
  .github/workflows/not_used/release_package.yml
  .github/workflows/not_used/release_package_v2.yml
  .github/workflows/publish.yaml
  .github/workflows/release-draft.yaml
Labels: breaking

#5 First major release test
  README.md
Labels: breaking

#6 First major release test
  .github/workflows/release-draft.yaml
Labels: breaking

#7 First major release test
  .github/workflows/release-draft.yaml
Labels: bug

#16 Fix publish bug
  .github/release-drafter.yml
  .github/workflows/delete-workflow-runs.yaml
  .github/workflows/publish.yaml
  bidrag-domene/pom.xml
  bidrag-transport/pom.xml
  pom.xml
Labels: bug

#17 Test auto labeler
  .github/release-drafter.yml
  bidrag-domene/README.md
  bidrag-transport/README.md
Labels: bidrag-domene, bidrag-transport

#18 Oppdater dokumentasjon
  bidrag-domene/README.md
  bidrag-transport/README.md
Labels: documentation, feature, bidrag-domene

#20 Update maven versions
  .github/release-drafter.yml
  .github/workflows/release-draft.yaml
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-transport/pom.xml
  pom.xml
Labels: bidrag-domene, bidrag-commons, bugfix

#21 Fix deploy problems
  .github/workflows/publish.yaml
  .github/workflows/release-draft.yaml
Labels: bugfix

#22 Fix deploy problems
  .github/workflows/publish.yaml
Labels: bugfix

#23 Fix deploy problems
  .github/.m2/maven-settings.xml
  .github/workflows/publish.yaml
Labels: bugfix

#24 Fix pom configuration
  .github/.m2/maven-settings.xml
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/publish.yaml
  .github/workflows/release-draft.yaml
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/felles/StringToBooleanConverter.kt
  bidrag-transport/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/Arbeidsforhold.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/HentGrunnlagDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/Sivilstand.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/Skattegrunnlag.kt
  pom.xml
Labels: breaking, bidrag-domene, bidrag-transport, bidrag-commons, bugfix

#31 Fiks feil med bygg i bidrag-commons
  .github/workflows/not_used/build-deploy-bidrag-domene.yml
  .github/workflows/not_used/build-deploy-bidrag-transport.yml
  .github/workflows/not_used/build_and_release_package.yml
  .github/workflows/not_used/release_package.yml
  .github/workflows/not_used/release_package_v2.yml
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-transport/pom.xml
Labels: chore, bidrag-domene, bidrag-transport, bidrag-commons

#35 Oppdatert readme på bidrag-commons for testing
  bidrag-commons/README.md
Labels: documentation, chore, bidrag-commons

#41 Legger til uthenting av landskoder fra kodeverk
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
Labels: feature, bidrag-commons

#42 Feature/landskode fra kodeverk
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
Labels: feature, bidrag-commons

#40 Legg til caching i github workflow
  .github/.m2/maven-settings.xml
  .github/workflows/publish.yaml
  .github/workflows/publish_dispatcher.yaml
  .github/workflows/release-draft.yaml
  bidrag-commons/pom.xml
  pom.xml
Labels: chore, bidrag-commons

#43 Legg til openapi eksempel initaliserer
  bidrag-commons/pom.xml
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/OpenApiExamplesConfig.kt
  pom.xml
Labels: bidrag-commons

#44 Lagt til barnetillegg i request til bidrag-inntekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/request/TransformerInntekterRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/response/TransformerInntekterResponse.kt
Labels: feature, bidrag-transport

#45 Lagt til feilrapportering i tjeneste hentGrunnlag i bidrag-grunnlag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/HentGrunnlagFeiltype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/FeilrapporteringDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/HentGrunnlagDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#48 Gjort litt endringer i HentGrunnlagDto med underobjekter
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/HentGrunnlagFeiltype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/HentGrunnlagDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/UtvidetBarnetrygdOgSmaabarnstillegg.kt
Labels: feature, bidrag-domene, bidrag-transport

#49 Justert litt på feilrapportering fra bidrag-grunnlag
  bidrag-transport/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/FeilrapporteringDto.kt
Labels: feature, bidrag-transport

#51 Opprett grunnlagsobjekter for vedtak og beregning
  bidrag-commons-test/pom.xml
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeForskudd.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeSærtilskudd.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/Dto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/grunnlag/BeregningInntektRapporteringPeriode.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/forskudd/Forskudd.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/saertilskudd/Saertilskudd.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Husstandsmedlem.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektInnhentet.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektsrapporteringPeriode.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/NotatGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sivilstand.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/Ainntekt.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/Skattegrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/felles/JsonUtils.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregninFellesTest.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/felles/GrunnlagDtoFellesTest.kt
  pom.xml
Labels: chore, bidrag-domene, bidrag-transport, bidrag-commons, bidrag-commons-test

#52 Fiks validering på beregning og grunnlag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
Labels: chore, bidrag-transport

#54 Endret litt på request-delen av bidrag-inntekt api
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/request/TransformerInntekterRequest.kt
Labels: feature, bidrag-transport

#55 Feature/bidrag inntekt api
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/inntekt/response/TransformerInntekterResponse.kt
Labels: feature, bidrag-transport

#56 Justert litt på feilrapportering fra bidrag-grunnlag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/GrunnlagRequestType.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/HentGrunnlagFeiltype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/FeilrapporteringDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/HentGrunnlagDto.kt
Labels: feature, bidrag-domene, bidrag-transport
