Repository navikt/bidrag-felles, pull requests merged in 2024-03, with the labels that each got.

#81 Legg til opprinnelig periode på inntekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
Labels: chore, bidrag-transport

#83 Flytter fellekomponenter for rekontro
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/request/EndreRmForSakRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/request/SaksnummerRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/BidragssakDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/BidragssakMedSkyldnerDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/SaksinformasjonBarnDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/SkyldnerDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/GjeldendeBetalingsordningDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/InnkrevingssakshistorikkDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/InnkrevingssaksinformasjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/NyBetalingsordningDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/SkyldnerinformasjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/transaksjoner/TransaksjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/transaksjoner/TransaksjonerDto.kt
Labels: feature, bidrag-transport

#84 Retter feil pakke for komponenter fra reskontro
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/request/EndreRmForSakRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/request/SaksnummerRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/BidragssakDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/BidragssakMedSkyldnerDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/SaksinformasjonBarnDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/SkyldnerDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/GjeldendeBetalingsordningDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/InnkrevingssakshistorikkDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/InnkrevingssaksinformasjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/NyBetalingsordningDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/SkyldnerinformasjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/transaksjoner/TransaksjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/transaksjoner/TransaksjonerDto.kt
Labels: feature, bidrag-transport

#85 Legg til versjon på inntekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
Labels: feature, bidrag-transport

#87 Kodeverk inkluder ugyldige kodeverk da det kan inkludere utgåtte
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
Labels: chore, bidrag-commons

#89 Feature/nullable reskontro objekter
  bidrag-commons/pom.xml
  bidrag-transport/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/BidragssakMedSkyldnerDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/SaksinformasjonBarnDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/InnkrevingssaksinformasjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssaksinformasjon/SkyldnerinformasjonDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/transaksjoner/TransaksjonDto.kt
  pom.xml
Labels: feature, bidrag-transport, bidrag-commons

#91 Endrer bruk av periode til å spesifisere at det er datoperiode for å …
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/innkrevingssak/SaksinformasjonBarnDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/reskontro/response/transaksjoner/TransaksjonDto.kt
Labels: feature, bidrag-transport
