Repository navikt/bidrag-felles, pull requests merged in 2024-02, with the labels that each got.

#57 Lagt til enum verdier for resultatkoder og årsakstype
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeBarnebidrag.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeForskudd.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeSærtilskudd.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultatDeprecated.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/årsak.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/NotatGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
Labels: chore, bidrag-domene, bidrag-transport

#59 Endre resultatkode fra forskudd beregning til å bruke ny resultatkode enum
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/forskudd/Forskudd.kt
Labels: chore, bidrag-transport

#61 Legg til inntekstrapportering barnetilsyn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntekttype.yaml
Labels: chore, bidrag-domene

#63 Lagt til objekt og grunnlagstype for sluttbergning forskudd
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/person/AldersgruppeForskudd.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
Labels: feature, bidrag-domene, bidrag-transport

#65 Endret resultatkode til enum i SluttberegningForskudd
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#66 Legg til stubmetoder i test-felles og oppdater equals sjekk for grunn…
  bidrag-commons-test/pom.xml
  bidrag-commons-test/src/main/kotlin/no/nav/bidrag/commons/mock/Stubs.kt
  bidrag-commons-test/src/main/resources/__files/sjablon.json
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/felles/GrunnlagDtoFellesTest.kt
  pom.xml
Labels: chore, bidrag-transport, bidrag-commons-test

#68 Refaktorering av innhentet grunnlagsstruktur
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Husstandsmedlem.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektInnhentet.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sivilstand.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregninFellesTest.kt
Labels: chore, bidrag-domene, bidrag-transport

#69 Legg til sjablon grunnlagsobjekter
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
Labels: chore, bidrag-transport

#70 Vedtak tree map generator
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestOperationsAzure.kt
Labels: feature, bidrag-commons

#72 Refaktorer grunnlag
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/GrunnlagDatakilde.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagMapper.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Husstandsmedlem.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektInnhentet.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektInnhentetExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sivilstand.kt
Labels: chore, bidrag-domene, bidrag-transport, bidrag-commons

#73 Endret på objekt for delberegning av inntekt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#74 Lagt til et par nye sjablon-funksjoner
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sjablon/SjablonTallNavn.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
Labels: feature, bidrag-domene, bidrag-transport

#75 Oppdater vedtak tree mapper
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
Labels: chore, bidrag-transport, bidrag-commons

#77 Lagt til nye dataklasser for beregning av inntekt i bidrag-beregning
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/Inntekt.kt
Labels: feature, bidrag-transport

#78 Reduser readtimeout til 15 sekunder og la til to noe inntekstyper
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestTemplateBuilderBean.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntekttype.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enum/InntektstypeTest.kt
Labels: feature, bidrag-domene, bidrag-commons

#79 Lagt til flere felter på ainntekt grunnlagobjekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/InntektInnhentet.kt
Labels: chore, bidrag-transport

#80 Opprett visningsnavn for innteksttyper
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektstype.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: chore, bidrag-domene
