Repository navikt/bidrag-felles, pull requests merged in 2024-11, with the labels that each got.

#310 Oppgrader jackson versjon
  pom.xml
Labels: chore

#311 Fjern beregning fra SamværskalkulatorDetaljer
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
Labels: chore, bidrag-transport

#312 Legger til felt om samhandler er opphørt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: bidrag-transport

#313 Delberegning samværsklasse antall netter
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Samvær.kt
Labels: feature, bidrag-domene, bidrag-transport

#314 Samværskalkulator validering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Samvær.kt
Labels: feature, bidrag-transport

#315 Lagt til SjablonDto interface på Sjablon objektene
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Barnetilsyn.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Bidragsevne.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Forbruksutgifter.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/MaksFradrag.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/MaksTilsyn.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Samværsfradrag.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/SjablonDto.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Sjablontall.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/TrinnvisSkattesats.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Samvær.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#316 Opprett DTO objekter for SkyldnerBidragssaker
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/SkyldnerBidragssakerRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/SkyldnerBidragssakerResponse.kt
Labels: feature, bidrag-transport

#317 Oppretter dto for auditlog
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/felles/AuditLogDto.kt
Labels: bidrag-transport

#319 Endre DTO objekter for SkyldnerBidragstønader
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/SkyldnerBidragstønaderRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/SkyldnerBidragssakerResponse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/SkyldnerBidragstønaderResponse.kt
Labels: feature, bidrag-transport

#320 Audit log på SamhandlerDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: bidrag-transport

#321 Endre DTO objekter for SkyldnerStønader
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/SkyldnerStønaderRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/SkyldnerStønaderResponse.kt
Labels: chore, bidrag-transport

#323 Diverse endringer/tillegg i grunnlagsobjekter og -typer
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/DeltBostedPeriode.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#324 Rettet skrivefeil
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: bidrag-transport, bugfix

#326 Nye avslag og årsakskoder for barnebidrag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/årsak.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#327 Fjern Grunnlagstype SJABLON
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#328 Oppdater tekst resultat
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
Labels: feature, bidrag-domene

#329 Justert litt på barnebidrag resultat-objekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
Labels: feature, bidrag-transport

#330 Endret DELBEREGNING_ENDELIG_BIDRAG til SLUTTBEREGNING_BARNEBIDRAG
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/BarnetilleggPeriode.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregningFellesTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#331 Endret objekt DelberegningEndeligBidrag til SluttberegningBarnebidrag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagBeregningExtensions.kt
Labels: feature, bidrag-transport

#332 Utvidet DelberegningUnderholdskostnad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#335 Renamet grunnlagstype barnetilsyn med stønad
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: feature, bidrag-domene

#338 Feature/underholdskostnad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Underholdskostnad.kt
Labels: feature, bidrag-transport

#339 Oppdatere FAKTISK_UTGIFT og TILLEGGSSTØNAD til FAKTISK_UTGIFT_PERIODE og TILLEGGSSTØNAD_PERIODE
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: feature, bidrag-domene

#340 SluttberegningBarnebidrag resultat
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sluttberegningBarnebidrag.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#342 Retter tssOmrådekode for utenlandsk fogd
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/Områdekode.kt
Labels: bidrag-transport

#343 Endre Barnetilsyn alias for beløpBarnetilsyn
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Barnetilsyn.kt
Labels: feature, bidrag-commons

#344 Gjør hele samhandlerDto nullable
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: feature, bidrag-transport

#347 Legg til delberegningsobjekter for underholdskostnad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#348 Fjerner maskering av samhandlerId (starter på 8/9) i logging
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/logging/SensitiveLogMasker.kt
Labels: bidrag-commons

#349 SluttberegningBarnebidrag justere rekkefølge på resultat
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#350 Feature/sluttberegning barnebidrag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt~
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sluttberegningBarnebidrag.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/BarnetilleggType.kt~
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#351 Fjernet resultatkode fra barnebidrag-beregning-objekt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
Labels: feature, bidrag-transport

#352 Slette ubrukte resultatkoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport

#353 Legg til gjelderbarnreferanse i GrunnlagDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
Labels: feature, bidrag-transport

#354 Støtte for gjelderbarnreferanse i beregning
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Underholdskostnad.kt
Labels: feature, bidrag-transport

#355 Legg til alias uminusNettoBarnetilleggBM
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: bidrag-transport, bugfix

#356 Støtte for bidrag i VedtakNotatDto
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/tid/DatoperiodeDto.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/skolealder.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/tilsynstype.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#358 Endringer i VedtakNotatDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#359 Feature/rename barnetillegg type
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Barnetillegg.kt
Labels: feature, bidrag-transport

#360 Direkte avslag for bidrag avslag resultatkoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
Labels: feature, bidrag-domene

#361 Ryddet i enum SjablonTallNavn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sjablon/SjablonTallNavn.kt
Labels: feature, bidrag-domene

#362 Nye grunnlagstyper og objekter for gebyrberegning
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Gebyr.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#366 Vedtak notat legg til gebyr
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#367 Legg til avsluttet parameter i BidragssakPipDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/sak/BidragssakPipDto.kt
Labels: feature, bidrag-transport

#368 Fikse feil i resttemplate objectmapper
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestOperationsAzure.kt
Labels: bidrag-commons, bugfix
