Repository navikt/bidrag-felles, pull requests merged in 2024-07, with the labels that each got.

#162 Legger med personid til ektefelle
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/person/SivilstandPdlHistorikkDto.kt
Labels: feature, bidrag-transport

#166 Oppdatert objekter for særbidrag. Noe renaming og sletting av objekte…
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sjablon/SjablonTallNavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/saertilskudd/Saertilskudd.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/særbidrag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/request/OpprettGrunnlagspakkeRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#167 Ny felt betaltBeløp i vedtak
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/Særbidragskategori.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/Utgiftstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtakHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#168 OpprettEngangsbeløpRequestDto betalt beløp nullable
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
Labels: feature, bidrag-transport

#169 Update README.md - trigge ny deploy
  README.md
Labels: documentation

#170 Ikke ta med legacykode for nye avslagskoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
Labels: bidrag-domene

#171 Oppdatert objekter for særbidrag (sjabloner + barn i husstand)
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
Labels: feature, bidrag-transport, bidrag-commons

#172 Grunnlag utgift type til string
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
Labels: feature, bidrag-transport

#173 Endret litt på objekt SluttberegningSærbidrag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#174 BeregnValgteInntekterGrunnlag endre bidragsmottakerident til gjelderi…
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/Inntekt.kt
Labels: feature, bidrag-transport

#175 Resultatkode hjelpemetoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#176 Oppdater sjablon testdata
  bidrag-commons-test/src/main/resources/__files/sjablonBidragsevne.json
  bidrag-commons-test/src/main/resources/__files/sjablonSamværsfradrag.json
  bidrag-commons-test/src/main/resources/__files/sjablonTrinnvisSkattesats.json
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
Labels: bugfix, bidrag-commons-test

#177 Grunnlagstype andre voksne i husstanden
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: feature, bidrag-domene

#178 Oppdater testdata sjablontall.json
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
Labels: bugfix, bidrag-commons-test

#179 Oppdater testdata sjablontall.json
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
Labels: bugfix, bidrag-commons-test

#180 Utgifter grunnlag og grunnlag hjelpemetoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/NotatGrunnlag.kt
Labels: feature, bidrag-domene, bidrag-transport

#181 Mulighet til å legge til gjelderreferanse i delberegning
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Grunnlagreferanse.kt
Labels: feature, bidrag-transport

#183 Legg til legacy kode for privat avtale opphør
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
Labels: bidrag-domene, bugfix

#184 Ny Enum TypeBehandling
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/behandling/TypeBehandling.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/NotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#186 VedtakDto virkningstidspunkt hjelpemetode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-transport

#187 Grunnlag særbidragsperiode
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/felles/KotlinExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#189 Rull tilbake grunnlag særbidragsperiode
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#191 Grunnlag til objekt mapping støtte for bisys
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/felles/JsonUtils.kt
Labels: feature, bidrag-transport

#188 Dummy commit for å trigge ny release
  README.md
Labels: documentation
