Repository navikt/bidrag-felles, pull requests merged in 2024-06, with the labels that each got.

#136 Lagt til legacykode som parameter på Inntektsrapportering (og fjernet…
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
Labels: feature, bidrag-domene

#138 Resultatkoder og engangsbeløptypeer for særlige utgifter
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/Engangsbeløptype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#139 Hent flere typer sjabloner SjablonConsumer bidrag-commons
  bidrag-commons-test/src/main/kotlin/no/nav/bidrag/commons/mock/Stubs.kt
  bidrag-commons-test/src/main/resources/__files/sjablonBidragsevne.json
  bidrag-commons-test/src/main/resources/__files/sjablonSamværsfradrag.json
  bidrag-commons-test/src/main/resources/__files/sjablonTrinnvisSkattesats.json
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Bidragsevne.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Samværsfradrag.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/SjablonConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/TrinnvisSkattesats.kt
Labels: feature, bidrag-commons, bidrag-commons-test

#140 Retter feil datoformat testfil sjablonBidragsevne
  bidrag-commons-test/src/main/resources/__files/sjablonBidragsevne.json
Labels: bidrag-commons-test

#142 Fiks testdata sjablonBidragsevne.json
  bidrag-commons-test/src/main/resources/__files/sjablonBidragsevne.json
Labels: bugfix, bidrag-commons-test

#146 Utgiftstype kategori
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særligeutgifter/Utgiftstype.kt
Labels: feature, bidrag-domene

#147 Engangsbeløptype visningsnavn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/engangsbeløptype.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: feature, bidrag-domene

#148 RelatertPersonGrunnlagDto endret ifm særtilskudd
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/person/Familierelasjon.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/RelatertPerson.kt
Labels: feature, bidrag-domene, bidrag-transport

#149 Særlige utgifter kategori
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særligeutgifter/SærligeutgifterKategori.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/særligeutgifterkategori.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: feature, bidrag-domene

#152 Feature/voksne husstandsmedlemmer
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/RelatertPerson.kt
Labels: feature, bidrag-domene, bidrag-transport

#154 Lagt til nye verdier for voksne i husstand i Bostatuskode-enumen
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/person/Bostatuskode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/bostatus.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/RelatertPerson.kt
Labels: feature, bidrag-domene, bidrag-transport

#155 Endret navn på grunnlagsobjekt DelberegningGodkjentBeløp
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#156 Endret innhold i grunnlagsobjekt DelberegningUtgift
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport, bidrag-commons

#157 Særlige utgifter til Særbidrag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/SærbidragKategori.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/Utgiftstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særligeutgifter/SærligeutgifterKategori.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særligeutgifter/Utgiftstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/Engangsbeløptype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/engangsbeløptype.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/særbidragkategori.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: feature, bidrag-domene

#158 Nye felter og grunnlagsobjekter. Refaktorering SÆRBIDRAG
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/person/Bostatuskode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/person/Familierelasjon.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/regnskap/Transaksjonskode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/Formål.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Husstandsmedlem.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/request/HentGrunnlagRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/RelatertPerson.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtakHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#159 Ny resultatkode MANGLENDE_SAMARBEID
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/Særbidragskategori.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/Utgiftstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/særbidragskategori.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
Labels: feature, bidrag-domene, bidrag-transport

#160 Rulle tilbake betaltBeløp
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtakHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: bidrag-transport

#161 Utgiftstype annet
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/særbidrag/Utgiftstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/utgiftstype.yaml
Labels: feature, bidrag-domene
