Repository navikt/bidrag-felles, pull requests merged in 2024-10, with the labels that each got.

#262 Endringer i delberegningsobjektene for bidragsevne og BPs andel
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagBeregningExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: feature, bidrag-transport, bidrag-commons

#263 Vedtak notat legg til beskyttet felt i boforhold
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagBeregningExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: feature, bidrag-transport, bidrag-commons

#265 VedtakExtensions.kt feilfiks søknadKlageRefId
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: bidrag-transport, bugfix

#266 Endringer for å hente inn grunnlag tilleggsstønad
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/GrunnlagRequestType.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/response/HentGrunnlagDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#264 Rulle tilbake grunnlagsendringer
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagBeregningExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: chore, bidrag-domene, bidrag-transport, bidrag-commons

#268 Rettet skrivefeil
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: bidrag-transport, bugfix

#270 Legg til erHistorisk felt i NotatInntektDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#271 Legger til tre manglende enumer fra domain som brukes i bidrag-sak
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/Fogdårsak.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/Tilgangstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/UkjentPart.kt
Labels: bidrag-domene

#274 Feature/utvid delberegning sum løpende bidrag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/Fogdårsak.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/SakHendelsestype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/Tilgangstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sak/UkjentPart.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport

#276 Endret enum-verdier for sjablon 0006 (innslag kapitalinntekt)
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sjablon/SjablonTallNavn.kt
Labels: feature, bidrag-domene

#277 Lagt til manglende sjablonverdier i sjablontall.json
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
Labels: feature, bidrag-commons-test

#278 Tilgangsclient legg til mediatype
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/tilgang/TilgangClient.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/client/AbstractRestClient.kt
Labels: feature, bidrag-commons

#280 Utvidet SjablonBidragsevnePeriode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
Labels: feature, bidrag-transport

#281 Lagt til valutakode LøpendeBidragssak
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/LøpendeBidragssakerResponse.kt
Labels: feature, bidrag-transport

#284 Vedtak notat maks godkjent beløp
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#285 Vedtak notat måndesbeløp
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/NumberUtil.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#286 Nye typer for Notat og Samvær objekter
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/NotatGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Samvær.kt
Labels: feature, bidrag-domene, bidrag-transport

#290 Justeringer særbidrag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: bidrag-domene, bidrag-transport

#291 Endringer samvær og notat
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/samværsklasse.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#293 Endringer samværskalkulator objekter
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/samværskalkulator/SamværskalkulatorFerietype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/samværskalkulator/SamværskalkulatorNetterFrekvens.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/samværskalkulatorferietype.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/samværskalkulatornetterfrekvens.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
Labels: feature, bidrag-domene, bidrag-transport

#294 Endringer / nye objekter ifbm delberegning BPs andel underholdskostnad
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/UnderholdskostnadPeriode.kt
Labels: feature, bidrag-domene, bidrag-transport

#297 Kotlin utvidelser for avrunding av tall (BigDecimal)
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/NumberUtil.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/NumberUtilKtTest.kt
Labels: feature, bidrag-domene

#298 Ny grunnlagstype DELBEREGNING_BOFORHOLD
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#301 Lagt til delberegning netto tilsynsutgift
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#303 Feature/nettotilsynsutgift
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#305 Sjablonservice som bønne istedenfor static
  bidrag-commons-test/src/main/kotlin/no/nav/bidrag/commons/mock/Stubs.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/RetryUtils.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/organisasjon/HentSaksbehandlernavnProvider.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/EnableSjablonProvider.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/SjablonConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/SjablonService.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Samværsklasse.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/samværskalkulator/SamværskalkulatorNetterFrekvens.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/samværskalkulatornetterfrekvens.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/samværsklasse.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Samvær.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons, bidrag-commons-test

#306 Legg til default verdi på grunnlagstype
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: chore, bidrag-domene

#307 Legg til Grunnlagstype TEST_IKKE_BRUK for testing av ukjent enum i bisys
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Samværsklasse.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: chore, bidrag-domene, bidrag-transport

#309 Fjern Grunnlagstype TEST_IKKE_BRUK
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: chore, bidrag-domene
