Repository navikt/bidrag-felles, pull requests merged in 2024-08, with the labels that each got.

#192 SøknadGrunnlag nytt felt opprinneligMottattDato
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
Labels: feature, bidrag-transport

#194 SøknadGrunnlag nytt felt klageMottattDato
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
Labels: feature, bidrag-transport

#195 Nye grunnlagstyper for sjablon og hjelpefunksjoner for grunnlag beregning
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagBeregningExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#196 NotatDto ny felt klageMottattDato
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/NotatDto.kt
Labels: feature, bidrag-transport

#197 Oppdater resultatkoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#198 Ny resultatkode mindre enn forskudd
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#199 NotatDto særbidrag ny felt bpHarEvne
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/NotatDto.kt
Labels: feature, bidrag-transport

#200 Oppdater Inntektsrapportering for skjønn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enum/InntektstypeTest.kt
Labels: feature, bidrag-domene

#201 Oppdater Inntektsrapportering for skjønn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektsrapportering.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enum/InntektstypeTest.kt
Labels: feature, bidrag-domene

#202 Endre RESULTAT_MINDRE_ENN_FORSKUDD til GODKJENT_BELØP_LAVERE_ENN_FORS…
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
Labels: feature, bidrag-domene

#203 Oppdatere NotatDto i forbindelse med ny datastruktur for notat.
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/NotatDto.kt
Labels: bidrag-transport

#204 Bd 1887/ny datastruktur notat
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/NotatDto.kt
Labels: bidrag-transport

#206 Rename NotatDto til VedtakNotatDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/JournalpostHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/dokument/JournalpostHendelseTest.kt
Labels: feature, bidrag-transport

#207 Legg til total kravbeløp notat
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#208 Legg til felt opprinneligVedtakstype i søknad grunnlag og endre begrunnelse til kommentar i utgifter
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
Labels: feature, bidrag-transport

#209 Visningsnavn for vedtakstype
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/vedtakstype.yaml
Labels: feature, bidrag-domene

#210 Visningsnavn intern for vedtakstype
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: feature, bidrag-domene

#211 Legg til opprinneligVedtakstype notat
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#212 Endre ALLE_UTGIFTER_ER_FORELDET til ikke direkte avslag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
Labels: feature, bidrag-domene

#213 Beregning særbidrag nullbar beløp felt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/særbidrag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#214 Beregning særbidrag endre andel prosent til faktor
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#215 Notat beregning total kravbeløp
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#216 Resultatkoder visningsnavn og endre avslagskoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#217 Resultatkoder visningsnavn ved avslag eller opphør
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
Labels: feature, bidrag-domene

#218 Resultatkoder støtte for opphør og avslag bisyskoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/grunnlag/JsonMappingTest.kt
Labels: bidrag-domene, bidrag-transport, bugfix

#220 Endre resultatkode avslag ikke registrert på adresse
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#221 Refaktorering resultatkoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#222 Notat avslag visningsnavn uten prefiks
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#223 Lagt til request og response for LøpendeBidragssaker i bidrag-stønad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/LøpendeBidragssakerRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/LøpendeBidragssakerResponse.kt
Labels: feature, bidrag-transport

#225 Oppdater periode til gjelderFom på BidragBeregningResponsDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningResponsDto.kt
Labels: feature, bidrag-transport

#226 Legg til validering på BidragBeregningRequestDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
Labels: feature, bidrag-transport

#227 Legg til validering på BidragBeregningRequestDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
Labels: feature, bidrag-transport

#228 Legg til validering på BidragBeregningRequestDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/PersonidentLengdeValidator.kt
Labels: feature, bidrag-transport
