Repository navikt/bidrag-felles, pull requests merged in 2024-09, with the labels that each got.

#229 Legg til datoSøknad på bidrag beregning respons
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningResponsDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/PersonidentLengdeValidator.kt
Labels: feature, bidrag-transport

#230 Legg til søknadsid på bidrag beregning request
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
Labels: feature, bidrag-transport

#231 Fjern validering fra HentBidragBeregning
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
Labels: feature, bidrag-transport

#232 Validering av HentBidragBeregning
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningRequestDto.kt
Labels: feature, bidrag-transport

#233 Stønadstype i BidragBeregningResponsDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BidragBeregningResponsDto.kt
Labels: feature, bidrag-transport

#234 Grunnlag maks godkjent beløp
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
Labels: feature, bidrag-domene, bidrag-transport

#236 NotatDto maks godkjent beløp
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Særbidrag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#237 Ny resultatkode AVSLAG_PRIVAT_AVTALE_OM_SÆRBIDRAG
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#238 Utgiftstype visningsnavn
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#240 Sett dato i LøpendeBidragssakerRequest til å ha default verdi
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/LøpendeBidragssakerRequest.kt
Labels: feature, bidrag-transport

#241 Transportklasser for bidrag-vedtak - hent vedtak for stønad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/HentVedtakForStønadRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/HentVedtakForStønadResponse.kt
Labels: feature, bidrag-transport

#242 bd-1935 : Legge til vedtaksid i VedtakDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: bidrag-transport

#243 Feature/vedtak dto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/HentVedtakForStønadResponse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-transport

#244 Feature/vedtak dto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-transport

#245 Endre løpende bidrag grunnlagsobjekter
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#246 Legg til gjelderBarn i LøpendeBidrag og oppdater Samværsklasse enum
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Samværsklasse.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/samværsklasse.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#248 Lagt til nye sjabloner som skal brukes i beregning av barnebidrag
  bidrag-commons-test/src/main/kotlin/no/nav/bidrag/commons/mock/Stubs.kt
  bidrag-commons-test/src/main/resources/__files/sjablonBarnetilsyn.json
  bidrag-commons-test/src/main/resources/__files/sjablonForbruksutgifter.json
  bidrag-commons-test/src/main/resources/__files/sjablonMaksFradrag.json
  bidrag-commons-test/src/main/resources/__files/sjablonMaksTilsyn.json
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Barnetilsyn.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/Forbruksutgifter.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/MaksFradrag.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/MaksTilsyn.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/sjablon/SjablonConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/VedtakTreeMap.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
Labels: feature, bidrag-transport, bidrag-commons, bidrag-commons-test

#255 Rettet feil i testdata for sjablon Samværsfradrag
  bidrag-commons-test/src/main/resources/__files/sjablonSamværsfradrag.json
Labels: bugfix, bidrag-commons-test

#256 Justerer SjablonSamværsfradragPeriode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Sjablon.kt
Labels: feature, bidrag-transport

#258 Fjerne id fra VedtakDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-transport

#259 Endret/opprettet datastrukturer for samværsfradrag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SamværsklassePeriode.kt
Labels: feature, bidrag-domene, bidrag-transport
