Repository navikt/bidrag-felles, pull requests merged in 2025-08, with the labels that each got.

#680 Ny Beslutningstype DELVEDTAK
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/Beslutningstype.kt
Labels: feature, bidrag-domene

#683 Legg til hjelpefunksjoner for å identifisere orkestrert og delvedtak
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtakHendelseExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-transport

#688 Vedtaksid nullable i ResultatFraVedtakGrunnlag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/ResultatFraVedtakGrunnlag.kt
Labels: feature, bidrag-transport

#695 Q1/tilgangskontroll
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/logging/audit/AuditAdvice.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/tilgang/TilgangAdvice.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/tilgang/TilgangClient.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/logging/audit/AuditAdviceTest.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/tilgang/TilgangAdviceTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/tilgang/Sporingsdata.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/tilgang/Tilgangskontroll.kt
Labels: bidrag-transport, bidrag-commons
