Repository navikt/bidrag-felles, pull requests merged in 2025-03, with the labels that each got.

#474 Endre api beregn grunnlag tilpasse opphørsdato
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/Inntekt.kt
Labels: feature, bidrag-transport

#475 Resultat ingen endring under grense
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtakHendelseExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#476 Resultat ingen endring under grense
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-transport

#477 Vedtak notat visningsnavn resultatkode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#478 Lagt til flere felter i DelberegningEndringSjekkGrensePeriode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#480 Lagt til aldersjustering som "bryter" i SjablonTallNavn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sjablon/SjablonTallNavn.kt
Labels: feature, bidrag-domene

#481 Resultattype opphør
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#483 Ny årsakstype MÅNED_ETTER_BETALT_FORFALT_BIDRAG
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/årsak.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#484 Nytt objekt som skal brukes som grunnlag for beregning av aldersjuste…
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
Labels: feature, bidrag-transport

#485 Oppgrader token support
  bidrag-commons/pom.xml
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/ContextService.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/SecurityConfig.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/service/AzureTokenService.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/service/ClientPropertiesWellknown.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/service/OidcTokenManager.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/service/StsTokenService.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/service/TokenXTokenService.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/config/RestTemplateBuilderBean.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/interceptor/BearerTokenClientInterceptor.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/interceptor/BearerTokenClientInterceptorTest.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/interceptor/ClientConfigTestProperties.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/security/utils/TokenUtilsTest.kt
Labels: chore, bidrag-commons

#486 Lagt til en sjablon for aldersjustering i SjablonTallNavn
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/sjablon/SjablonTallNavn.kt
Labels: feature, bidrag-domene

#487 Slutteberegning getter for avslag
  bidrag-commons/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport, bidrag-commons

#489 Ny årsak MÅNED_ETTER_BETALT_FORFALT_BIDRAG
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
Labels: feature, bidrag-domene

#491 Lagt til nye grunnlagstyper til bruk i aldersjustering
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-domene, bidrag-transport

#492 Lagt til sluttberegningsobjekt og grunnlagstype for aldersjustering
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport

#495 Oppdatere metoder for finnDelberegningSjekkGrensePeriode
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-domene, bidrag-transport

#496 Notat boforhold til BM
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#500 Feature/ny hendelse vedtaksforslag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VedtaksforslagStatus.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtaksforslagHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtaksforslagDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#497 Ny klasse stønadsid
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/sak/Stønadsid.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#501 Direkte oppgjør resultatkode
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/security/maskinporten/MaskinportenTokenGeneratorTest.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
Labels: feature, bidrag-domene, bidrag-commons

#502 Lagt til unik referanse for vedtak pluss liste over siste vedtak for …
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/Vedtaksforslagsstatus.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtaksforslagHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtaksforslagRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtaksforslagDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#503 Årsakskoder tilpasse for bisys og lagt til stønadsid
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/sak/Stønadsid.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/årsak.yaml
Labels: feature, bidrag-domene

#504 Dummy endring for å trigge ny release
  README.md
Labels: documentation

#505 Feilfiks equals metode i OpprettGrunnlagRequestDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
Labels: bidrag-transport, bugfix

#506 Feilfiks fraLegacyKode metode i VirkningstidspunktÅrsakstype
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
Labels: feature, bidrag-domene

#507 Konstanter for aldersjustering
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/BehandlingsrefKilde.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/felles/BidragConstants.kt
Labels: feature, bidrag-domene

#508 Støtte for konverting av deprekerte resultatkoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#509 Notat indeksår
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport
