Repository navikt/bidrag-felles, pull requests merged in 2025-02, with the labels that each got.

#432 Ny delberegning for sjekk mot 12%-regel
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  pom.xml
Labels: feature, bidrag-domene, bidrag-transport

#434 Dummy-endring for å komme rundt release-problematikk
  README.md
Labels: documentation, bugfix

#435 Legg til defaultverdi på bruttoBidragEtterBegrensetRevurdering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#438 Justert litt på objektene som sjekker om endring er over eller under …
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport

#441 Lagt til periode på DelberegningEndringSjekkGrense
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#443 Støtte for å sette opphørsdato i beregning
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/Inntekt.kt
Labels: feature, bidrag-domene, bidrag-transport

#444 Feature/privat avtale
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/PrivatAvtale.kt
Labels: feature, bidrag-domene, bidrag-transport

#446 Oppdatert og omstrukturert sjablonverdier. Oppdatert versjoner.
  bidrag-commons-test/src/main/resources/__files/sjablonBarnetilsyn.json
  bidrag-commons-test/src/main/resources/__files/sjablonBidragsevne.json
  bidrag-commons-test/src/main/resources/__files/sjablonForbruksutgifter.json
  bidrag-commons-test/src/main/resources/__files/sjablonMaksTilsyn.json
  bidrag-commons-test/src/main/resources/__files/sjablonSamværsfradrag.json
  bidrag-commons-test/src/main/resources/__files/sjablonTrinnvisSkattesats.json
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-transport/pom.xml
  pom.xml
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons, bidrag-commons-test

#452 Legg til Grunnlagstype BELØPSHISTORIKK_BIDRAG_18_ÅR
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
Labels: feature, bidrag-domene

#453 Lagt til ny resultatode/avslag i barnebidrag hvis barnet bor hos BP
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sluttberegningBarnebidrag.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#451 Feature/privat avtale
  bidrag-commons-test/src/main/resources/__files/sjablontall.json
Labels: feature, bidrag-commons-test

#455 Notat rolle opphørsdato
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#456 Gjort beløp i ResultatBeregning nullable for barnebidrag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
Labels: feature, bidrag-transport

#457 Sjekk for gjelderBarnReferanse i filtrering av grunnlag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
Labels: feature, bidrag-transport

#458 Sjekk for gjelderBarnReferanse i filtrering av grunnlag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
Labels: feature, bidrag-transport

#459 Fjernet indikator ingenEndringUnderGrense fra SluttberegningBarnebidrag
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#460 Lagt til stønadstype i BeregnGrunnlag-objektet
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
Labels: feature, bidrag-transport

#468 Legg til resultatkode for ikke dokumentert skolegang
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#469 featur/reskode_skolegang
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: bidrag-domene

#470 Legg til ny årsakstype for fra måned etter fylte 18 år
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/vedtak/VirkningstidspunktÅrsakstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/årsak.yaml
Labels: feature, bidrag-domene
