Repository navikt/bidrag-felles, pull requests merged in 2025-06, with the labels that each got.

#615 Feature/versjonsbump
  bidrag-commons/pom.xml
  bidrag-domene/pom.xml
  bidrag-transport/pom.xml
  pom.xml
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#625 Sluttberegning forsvarets barnetillegg
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#628 Legg til felt kildeapplikasjon på VedtakForStønad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-transport

#630 Opprett forsendelse og mapper felles funksjonalitet
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/consumers/FellesForsendelseConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/consumers/FellesForsendelseConsumerImpl.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/consumers/FellesPersonConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/consumers/FellesSakConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/consumers/FellesSamhandlerConsumer.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/forsendelse/EnableForsendelseService.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/forsendelse/FellesForsendelseMapper.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/forsendelse/FellesForsendelseService.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/forsendelse/OpprettForsendelseFeiletException.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/forsendelse/SakExtensions.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/client/AbstractRestClient.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/OpprettForsendelseTo.kt
Labels: feature, bidrag-transport, bidrag-commons

#632 Distribuer automatisk forsendelse
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/forsendelse/FellesForsendelseService.kt
Labels: feature, bidrag-commons

#639 Legg til privatAvtale-felt i ManuellVedtakGrunnlag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-transport
