Repository navikt/bidrag-felles, pull requests merged in 2025-05, with the labels that each got.

#543 Liten justering på OpprettStønadEngangsbeløpRequestDto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/OpprettStønadEngangsbeløpRequestDto.kt
Labels: feature, bidrag-transport

#546 Endret litt på objekter for engangsbeløp til bruk i bidrag-stonad + o…
  bidrag-transport/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/OpprettStønadEngangsbeløpRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadEngangsbeløpDto.kt
  pom.xml
Labels: feature, bidrag-transport

#549 Omdøpt førtsteIndeksreguleringår til nesteIndeksreguleringsår (bidrag…
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/request/OpprettStønadRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadMedPerioderResponse.kt
Labels: feature, bidrag-transport

#551 Legg til sjekk om vedtak er fattet gjennom automatisk jobb
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/VedtakHendelseExtensions.kt
Labels: feature, bidrag-transport

#552 SluttberegningBarnebidragAldersjustering resultatkode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-transport

#553 SluttberegningBarnebidragAldersjustering resultatkode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
Labels: feature, bidrag-transport

#554 SluttberegningForholdsmessigFordeling
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/ForholdsmessigFordeling.kt
Labels: feature, bidrag-domene, bidrag-transport

#555 SluttberegningBarnebidrag felt tilleggsbidrag
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#556 SluttberegningBarnebidrag felt for FF
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#557 SluttberegningBarnebidrag felt for FF
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/ForholdsmessigFordeling.kt
Labels: feature, bidrag-transport

#558 SluttberegningBarnebidrag felt for FF
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#564 Dto objekter for aldersjustering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/automatiskjobb/AldersjusteringDto.kt
Labels: feature, bidrag-transport

#565 Dto objekter for aldersjustering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/automatiskjobb/AldersjusteringDto.kt
Labels: feature, bidrag-transport

#566 Dto objekter for aldersjustering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/automatiskjobb/AldersjusteringDto.kt
Labels: feature, bidrag-transport

#573 Forsendelse unik referanse
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/ForsendelseResponsTo.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/OppdaterForsendelseTo.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/OpprettForsendelseTo.kt
Labels: feature, bidrag-transport

#574 Nye resultatkoder
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
Labels: feature, bidrag-domene

#575 Nye resultatkoder
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
Labels: feature, bidrag-domene

#576 EnableSjekkForNyIdent annotering og reel mottaker i RolleDto
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/EnableSjekkForNyIdent.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/ident/ReellMottaker.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/sak/RolleDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/sak/Sakshendelse.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#578 Lagt til IdentUtils
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/EnableSjekkForNyIdent.kt
Labels: feature, bidrag-commons

#579 Hent alle identer metode i IdentUtils
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/IdentUtils.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/SjekkForNyIdent.kt
Labels: feature, bidrag-commons

#580 Lagt til AldersjusteringDetaljerGrunnlag
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-domene, bidrag-transport

#581 Endret litt på kopiobjekter ifbm beregning av aldersjustering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadDto.kt
Labels: feature, bidrag-transport

#582 Aldersjustering resultattekst
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/GrunnlagExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/felles/DateUtils.kt
Labels: feature, bidrag-transport

#583 Aldersjustering resultattekst
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-transport

#584 Aldersjustering resultattekst
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-transport

#585 Aldersjustering resultattekst
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-transport

#587 AldersjusteringDetaljerGrunnlag grunnlagFraVedtak nullable
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-transport

#588 Feature/aldersjustering4
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-transport

#589 Aldersjustering resultat, vis bare en begrunnelse
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensions.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-transport

#601 Q1/valutakode i kontonummer
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/samhandler/SamhandlerDto.kt
Labels: bidrag-transport
