Repository navikt/bidrag-felles, pull requests merged in 2025-01, with the labels that each got.

#399 Oppdatert diverse avhengigheter/versjoner
  pom.xml
Labels: feature

#406 klagestatistikk
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/KlageStatistikk.kt
Labels: feature, bidrag-transport

#415 Ny resultatkode for forskudd PARTEN_BER_OM_OPPHØR
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Resultatkode.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/resultat.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/enums/beregning/ResultatkodeTest.kt
Labels: feature, bidrag-domene

#416 Ny felt i DelberegningNettoTilsynsutgift antallBarnMedUtgifter
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#417 Endre antallBarnMedUtgifter til antallBarnMedTilsynsutgifter
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: chore, bidrag-transport

#418 Feature/forskudd hendelse nullable
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/statistikk/ForskuddHendelse.kt
Labels: feature, bidrag-transport

#419 Endre default verdi på antallBarnMedTilsynsutgifter
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#420 Grunnlagstyper begrenset revurdering
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sluttberegningBarnebidrag.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beløpshistorikk.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#421 Endret periode-type i BeløpshistorikkPeriode til ÅrMånedsperiode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beløpshistorikk.kt
Labels: bidrag-transport, bugfix

#423 Feature/utvid forskuddhendelse
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/statistikk/ForskuddHendelse.kt
Labels: feature, bidrag-transport

#424 Endret diverse objekter til bruk i beregning av begrenset revurdering
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sluttberegningBarnebidrag.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Søknad.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/SluttberegningBarnebidragTest.kt
Labels: feature, bidrag-domene, bidrag-transport

#425 Feature/stønad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadMedPerioderResponse.kt
Labels: feature, bidrag-transport

#426 Feature/stønad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadMedPerioderResponse.kt
Labels: feature, bidrag-transport

#427 Lagt til barnetillegg tiltakspenger
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektsrapportering.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektstype.yaml
Labels: feature, bidrag-domene

#428 Ettersendingsoppgave typer
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/service/KodeverkProvider.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/Distribusjon.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/Journalpost.kt
Labels: feature, bidrag-transport, bidrag-commons

#429 Journalpost legg til ettersendingsoppgave
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/Journalpost.kt
Labels: feature, bidrag-transport

#430 Journalpost legg til ettersendingsoppgave
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/Journalpost.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/OpprettJournalpostRequest.kt
Labels: feature, bidrag-transport

#431 Nye klasser stønad
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadMedPerioderResponse.kt
Labels: feature, bidrag-transport
