Repository navikt/bidrag-felles, pull requests merged in 2025-04, with the labels that each got.

#510 StønadDto legg til nesteIndeksreguleringsår
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/util/SecureLogger.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport, bidrag-commons

#511 Privat avtale type enum
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/privatavtale/PrivatAvtaleType.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/util/Visningsnavn.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/privatavtaletype.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/util/VisningsnavnTest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/PrivatAvtale.kt
Labels: feature, bidrag-domene, bidrag-transport

#512 Privat avtale type enum
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/PrivatAvtale.kt
Labels: feature, bidrag-transport

#514 Notat avtaletype
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
Labels: feature, bidrag-transport

#515 Delberegning privat avtale
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beløpshistorikk.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/PrivatAvtale.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/stonad/response/StønadDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#517 Fjerne validering fra SamværskalkulatorDetaljer
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/samvær/SamværskalkulatorDetaljer.kt
Labels: feature, bidrag-transport

#518 Kompiler til java 8
  pom.xml
Labels: feature

#519 Fjern all jakarta validering pga at bisys ikke støtter det lenger
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/sak/Stønadsid.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/request/HentGrunnlagRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/grunnlag/request/OppdaterGrunnlagspakkeRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettPeriodeGrunnlagRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettStønadsendringGrunnlagRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-domene, bidrag-transport

#520 Legg til vedtaksid felt i vedtakdto
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
  bidrag-transport/src/test/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakExtensionsKtTest.kt
Labels: feature, bidrag-transport

#521 Legg til enhet i MDC
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/MdcConstants.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/MdcFilter.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/UserMdcFilter.kt
Labels: feature, bidrag-commons

#523 DelberegningUnderholdskostnad forpleining
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#526 Fjern felt med i beregning på BostatusPeriode
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Husstandsmedlem.kt
Labels: feature, bidrag-transport

#528 Støtte for å tokenx
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/service/ClientPropertiesWellknown.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/interceptor/BearerTokenClientInterceptor.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/interceptor/BearerTokenClientInterceptorTest.kt
Labels: feature, bidrag-commons

#529 Legg til inntektsmappinger fra beregn-felles
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/inntekt/PostMappingUtil.kt
  bidrag-domene/src/main/resources/kodeverk/inntekt/mapping_kaps.yaml
  bidrag-domene/src/main/resources/kodeverk/inntekt/mapping_ligs.yaml
  bidrag-domene/src/main/resources/kodeverk/inntekt/mapping_ytelser.yaml
  bidrag-domene/src/test/kotlin/no/nav/bidrag/domene/inntekt/PostMappingUtilTest.kt
Labels: feature, bidrag-domene

#530 Barnetillegg tilpassing for Bisys
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/inntekt/Inntektstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektstype.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
Labels: feature, bidrag-domene, bidrag-transport

#531 Inntekt skatteklasse
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/inntektstype.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
Labels: feature, bidrag-domene, bidrag-transport

#533 Token support caching støtte
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Inntekt.kt
Labels: feature, bidrag-domene, bidrag-transport, bidrag-commons

#535 Bugfix/tokengenerator
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/interceptor/BearerTokenClientInterceptor.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/interceptor/BearerTokenClientInterceptorTest.kt
Labels: bidrag-commons, bugfix

#537 Utvidet sluttberegningsobjekt for aldersjustering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport

#538 Lagt til felt for manueltRegistrert i objekt KopiBarnetilsynMedStønad…
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-transport

#540 Flytter alle bidrag-dokument-forsendese DTOer til felles
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/DokumentRedigeringTo.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/EttersendingsoppgaveTos.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/FerdigstillDokumentRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/ForespørselFelles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/ForsendelseResponsTo.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/HentDokumentValgRequest.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/OppdaterForespørselTo.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/OpprettForespørselTo.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/dokument/forsendelse/Utvidelser.kt
Labels: bidrag-transport
