Repository navikt/bidrag-felles, pull requests merged in 2025-07, with the labels that each got.

#640 Rett opp stavefeil i vedtakstype.yaml
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/vedtakstype.yaml
Labels: feature, bidrag-domene

#642 Legg til støtte for manuelt justert bidrag i sluttberegning
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/sluttberegningBarnebidrag.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-domene, bidrag-transport

#644 Legg til støtte for automatisk aldersjustering og nye resultatkoder
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
Labels: feature, bidrag-transport

#646 Forbedre tokenx validering i BearerTokenClientInterceptor og korrigere ISSUER_TOKENX_IDENTIFIER
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/utils/TokenUtils.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/interceptor/BearerTokenClientInterceptor.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/interceptor/BearerTokenClientInterceptorTest.kt
  bidrag-commons/src/test/kotlin/no/nav/bidrag/commons/security/utils/TokenUtilsTest.kt
Labels: feature, bidrag-commons

#649 Nye objekter ifbm orkestrering av bidragsberegning. Oppdatert avhengi…
  bidrag-domene/pom.xml
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/beregning/Beregningstype.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
  pom.xml
Labels: feature, bidrag-domene, bidrag-transport

#652 Liten justering på BidragsberegningOrkestratorRequest
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
Labels: feature, bidrag-transport

#658 Feature/klage orkestrator grunnlag
  bidrag-commons/pom.xml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/barnebidrag/Barnebidrag.kt
  pom.xml
Labels: feature, bidrag-transport, bidrag-commons

#664 Offentlig id type har nå beskrivelser
  bidrag-commons/pom.xml
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/security/maskinporten/MaskinportenClient.kt
  bidrag-domene/pom.xml
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/grunnlag/Grunnlagstype.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/enums/samhandler/OffentligIdType.kt
  bidrag-domene/src/main/kotlin/no/nav/bidrag/domene/ident/Personident.kt
  bidrag-domene/src/main/resources/kodeverk/visningsnavn/offentligidtype.yaml
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/notat/VedtakNotatDto.kt
  pom.xml
Labels: bidrag-domene, bidrag-transport, bidrag-commons

#667 Unleash legg til saksnummer
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/unleash/DefaultUnleashContextProvider.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/BidragHttpHeaders.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/MdcConstants.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/web/UserMdcFilter.kt
Labels: feature, bidrag-commons

#668 Mulighet til å oppdatere unleash context
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/unleash/DefaultUnleashContextProvider.kt
  bidrag-commons/src/main/kotlin/no/nav/bidrag/commons/unleash/UnleashFeaturesProvider.kt
Labels: feature, bidrag-commons

#677 Vedtaksid til integer
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/beregning/felles/BeregnGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Aldersjustering.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Felles.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/ResultatFraVedtakGrunnlag.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/statistikk/ForskuddHendelse.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/FattVedtaksforslagRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/request/OpprettVedtakRequestDto.kt
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/vedtak/response/VedtakDto.kt
Labels: feature, bidrag-transport

#678 SluttberegningIndeksregulering
  bidrag-transport/src/main/kotlin/no/nav/bidrag/transport/behandling/felles/grunnlag/Beregning.kt
Labels: feature, bidrag-transport
